<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Show Category</h1>
  </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<b>Image:</b><br>
		<%= image_tag @category.image(:default) %>
		<br><br>
		<b>Name:</b> <%= @category.name %>	<br>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<br>
		<%= link_to 'Edit', edit_cms_category_path(@category) %> |
		<%= link_to 'Back', cms_categories_path %>
	</div>
</div>
