<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Show Admin</h1>
  </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<b>Name:</b> <%= @admin.name %>	<br>
		<b>E-mail:</b> <%= @admin.email %>	<br>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<br>
		<%= link_to 'Edit', edit_cms_admin_path(@admin) %> |
		<%= link_to 'Back', cms_admins_path %>
	</div>
</div>
